@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: rgb(70, 189, 41);
    min-height: 100vh;
}
body, .container, .content-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: rgb(245, 225, 196);
    width: 440px;
    border-radius: 10px;
    padding: 30px 30px 38px;
    flex-direction: column;
}
.container img{
    max-width: 103px;
}
.container h1{
    font-size: 50;
    font-weight: 800px;
    margin: 50px 0px;
    color: rgb(255, 0, 0);
}
.container h2{
    font-size: 38;
    font-weight: 600px;
    margin: 30px 0px;
    color: rgb(0, 0, 0);
}
.container .content-box{
    width:  100%;
    justify-content: space-between;
}
.container .content-box.disabled{
    opacity: 0.6;
    pointer-events: none;
}
.content-box .column{
    border: 1px solid #999;
    padding: 0px 10px;
    border-radius: 5px;
    width: 100%;
}
.column select{
    outline: none;
    border: none;
    height: 53px;
    width: 100%;
    font-size: 20px;
    background-color: #fff;
    width: calc(100%/3-5px);
}
.container button{
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    padding: 17px 0px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #36BA98;
    color: #fff;
}